
<!-- Footer -->
    <footer class="text-center text-lg-start text-white p-0" style="background-color: #110808">
      <!-- Grid container -->
      <div class="container col-md-12 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Ponto Doce
              </h6>
              <p>
                A empresa perfeita para matar sua fome com aquele gostinho de quero mais!
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Produtos</h6>
              <p>
                <a class="text-white">Exemplo 1</a>
              </p>
              <p>
                <a class="text-white">Exemplo 2</a>
              </p>
              <p>
                <a class="text-white">Exemplo 3</a>
              </p>
              <p>
                <a class="text-white">Exemplo 4</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contato</h6>
              <p><i class="fas fa-home mr-3"></i> Guaratinguetá, BR</p>
              <p><i class="fas fa-envelope mr-3"></i> pontodocefatec@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> 12 98296-6797</p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 text-center mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Nos Siga!</h6>
  
              <!-- Facebook -->
              <a id="fa-facebook" class="btn btn-primary btn-floating m-1" href="#!" role="button"
                 ><i class="fab fa-facebook-f"></i
                ></a>
  
              <!-- Twitter -->
              <a id="fa-twitter" class="btn btn-primary btn-floating m-1" href="#!" role="button"
                 ><i class="fab fa-twitter"></i
                ></a>
  
              <!-- Google -->
              <a id="fa-google" class="btn btn-primary btn-floating m-1" href="#!" role="button"
                 ><i class="fab fa-google"></i
                ></a>
  
              <!-- Instagram -->
              <a id="fa-instagram" class="btn btn-primary btn-floating m-1" href="#!" role="button"
                 ><i class="fab fa-instagram"></i
                ></a>
  
              <!-- Linkedin -->
              <a id="fa-linkedin" class="btn btn-primary btn-floating m-1" href="#!" role="button"
                 ><i class="fab fa-linkedin-in"></i
                ></a>
              <!-- Github -->
              <a id="fa-github" class="btn btn-primary btn-floating m-1" href="#!" role="button"
                 ><i class="fab fa-github"></i
                ></a>
            </div>
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2024 Copyright:
        <a class="text-white" href="https://pi-exl4.onrender.com"
           >PontoDoce.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
<!-- Footer -->
